# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [70]:
# Your code here
import pandas as pd
import numpy as np
df= pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

#lots of duplicates
df.drop_duplicates(keep=False)

cols=[]
for colname in df.columns:
    cols.append(colname.lower())
df.columns = cols

df.columns=df.columns.str.replace(' ','_')
#df['state']=df.column.str.replace('st','state')
df.rename(columns={'st':'state'},inplace=True) 
#inplace=True: assign the result back, as the modification is not-inplace
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [71]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [72]:

df.shape
df['gender'].unique()
df['gender'].value_counts()
## value counts(dropna=False) it tells you how many Nan there is

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [73]:
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [74]:
# cleaning female male
def cleangender(x):
    M_target=['Male']
    F_target=['Femal', 'female']
    
    if x in M_target:
        return 'M'
    elif x in F_target:
        return 'F'
    else:
        return x

df['gender'] = list(map(cleangender, df['gender']))
df['gender'].unique()
df['gender'].value_counts()
##FYI startswith doesnt work attribute error 'float' object has no attribute 'startswith'
##other way around: np.where[]

gender
F    502
M    452
Name: count, dtype: int64

In [75]:
df['state'].unique()
# cleaning states
def cleanstate(x):
    if x == 'WA':
        return 'Washington'
    elif x =='AZ':
        return 'Arizona'
    elif x=='Cali':
        return 'California'
    else:
        return x

df['state'] = list(map(cleanstate, df['state']))
df['state'].value_counts()


##other way around: using dictionaries {}

state
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [76]:
#cleaning education
df['education']=df['education'].str.replace('Bachelors', 'Bachelor')
df['education'].value_counts()

education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [77]:
# cleaning car class
def cleancarclass(x):
    luxury_target=['Luxury SUV','Luxury Car','Sports Car']
    if x in luxury_target:
        return 'Luxury'
    else:
        return x

df['vehicle_class'] = list(map(cleancarclass, df['vehicle_class']))
df['vehicle_class'].value_counts()

In [78]:

# removing % in customer value 
df['customer_lifetime_value']=df['customer_lifetime_value'].str.replace('%', '')
#
# turning into numeric
df['customer_lifetime_value']=pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

df['customer_lifetime_value']=pd#####

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [87]:
#removing the slash using split('/'): I end up with a list where I keep middle number (index1)
##below function wasnt working
#df['number_of_open_complaints'].unique()
#def removeslash(x)
#    if x in 
 #       return 
  #  else
   #     return
#df['number_of_open_complaints'].split('/')
for item in df['number_of_open_complaints']
    new_list.append(item)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [80]:
#numeric

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [81]:
#df.isnull()

In [82]:
# let's see the percentage of null values in a column
#round(df.isna().sum()/len(df),4)*100  
#nulls_df = pd.df(round(df.isna().sum()/len(df),4)*100)
#nulls_df.columns = ['header_name', 'percent_nulls']
#nulls_df

In [84]:
df1=df.drop_duplicates() #we assume duplicates are those with NaN in all columns
 #previous command drops everything except the first duplicate
df1=df1.drop(1071,axis=0,inplace=True)

/var/folders/lh/fxd814lj4c94_w7c1zg3sc7r0000gp/T/ipykernel_43356/1346282976.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1=df1.drop(1071,axis=0,inplace=True)

In [38]:
#df[df['state'].isnull()==True]
#dropna shows how many nulls there are also
df1['state'].value_counts(dropna=False) 

#CATEGORICAL we fill with the Mode which is Oregon
df1['state']=df1['state'].fillna('Oregon')


#ORDINAL we fill with the mean
mean_income=df1['income'].mean()
mean_income
df1['income']=df1['income'].fillna(mean_income)
df1.isna().sum #check

#lets remove the decimals with round

AttributeError: module 'pandas' has no attribute 'Dataframe'

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
## adding index=False (you dont get unamed 0 column when openning it again)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

# AFTERNOON Lab | Customer Analysis Round 3
Get the same data from https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
For this lab, we will continue using the csv file that was downloaded in the previous lab as well as the Jupyter Notebook.
There is NO NEED to fork and clone this repository.

EDA (Exploratory Data Analysis) - Complete the following tasks to explore the data:
Show DataFrame info.
Describe DataFrame.
Show a plot of the Gender breakdown.
Show a plot of Income by State.
Show a plot of the Policy Type by the Total Claim Amount.
Show a plot of the Education by Vehicle Class.
What insights can you establish from these plots?
What other plots do you feel would be beneficial?

In [54]:
#!pip3 install seaborn if you need to
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [85]:
df.info()
#Show a plot of the Gender breakdown.
sns.countplot('gender')
#Show a plot of Income by State.
sns.barplot(x="state",y="income",data=df)
plt.show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

ValueError: could not convert string to float: 'gender'

In [ ]:
#Show a plot of the Policy Type by the Total Claim Amount.
sns.barplot(x="policy_type", x="total_claim_amount",data=df
plt.show()
#sns.barplot(x="education", hue="vehicle_class",data=customer_data)
#plt.show()

In [ ]:
#Show a plot of the Education by Vehicle Class. both are categorical. 
#cannot use x and y but x and hue (count of each)

In [86]:
#hue gives the other one as hue. barplot needs numeric so we do hist
sns.histplot(x="education", hue="vehicle_class",data=df1,multiple='stack')
#multiple = stack : separates the colours by stacking
plt.show()
#looks like people with least

ValueError: Could not interpret value `education` for parameter `x`

# Lab | Customer Analysis Round 4
Check the data types of the columns. Get the numeric data into a dataframe called numerical and categorical columns in a dataframe called categorical. (You can use np.number and object to select the numerical data types and categorical data types respectively)
-Now we will try to check the normality of the numerical variables visually
-Use seaborn library to construct distribution plots for the numerical variables
-Use Matplotlib to construct histograms
-Do the distributions for different numerical variables look like a normal distribution?
-For the numerical variables, check the multicollinearity between the features. Please note that we will use the column total_claim_amount later as the target variable.
-Drop one of the two features that show a high correlation between them (greater than 0.9). 
-Write code for both the correlation matrix and for seaborn heatmap. If there is no pair of features that have a high correlation, then do not drop any features

# Lab | Customer Analysis Round 5
1. X-y split.
2. Scaling (numerical)

In [ ]:
#splitting Y our target and X our features
y = df['total_claim_amount']
X=df.drop(['total_claim_amount'], axis=1) 
#all the rest. iloc could also be used

X_num=X.select_dtypes(include = np.number)
X_cat=X.select_dtype(include=object) #that would be :
#'customer', 'state', 'gender', 'education','policy_type', 'vehicle_class'

##SCALING##
# Normalize using minmaxscaler
transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
x_normalized
datanorm = pd.DataFrame(x_normalized, columns=X_num.columns) 

# Plot the distributions again.
for i in range(3):
    sns.distplot(datanorm.iloc[:,i])
    plt.show()