# Lab | Data Cleaning and Formatting

# 01 - Problem

## Case study

* Data Description.
* Goal

In [ ]:
#LAB W.1 
#customer data from an insurance company: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# 02 - Getting Data

* Read the .csv file
* Import what's needed

In [ ]:
import pandas as pd
import numpy as np
df= pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

# 03 - Cleaning Data

* headers names.
* NaN and duplicates.
* Categorical Features.
* Numerical Features.
* Exploration.

In [3]:
#indicating content types
df.dtypes
#df.columns

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [2]:
#lots of duplicates
df.drop_duplicates(keep=False)

cols=[]
for colname in df.columns:
    cols.append(colname.lower())
df.columns = cols

df.columns=df.columns.str.replace(' ','_')
#df['state']=df.column.str.replace('st','state')
df.rename(columns={'st':'state'},inplace=True) 
#inplace=True: assign the result back, as the modification is not-inplace
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [4]:
df.shape
df['gender'].unique()
df['gender'].value_counts()
## value counts(dropna=False) tells how many NaN there is

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [ ]:
#removing the slash using split('/')
for item in df['number_of_open_complaints']: 
    no_slash_list.append(item.split('/')[1]) #(index1) keeps middle number 
# have created a new list
df['number_of_open_complaints']=no_slash_list

In [ ]:
# cleaning female male
def cleangender(x):
    M_target=['Male']
    F_target=['Femal', 'female']
    
    if x in M_target:
        return 'M'
    elif x in F_target:
        return 'F'
    else:
        return x

df['gender'] = list(map(cleangender, df['gender']))
df['gender'].unique()
df['gender'].value_counts()
##FYI startswith() doesnt work  
##error 'float' object has no attribute 'startswith'
##other way around: np.where()isin[](see bonus 1)

In [5]:
df['state'].unique()
# cleaning states
def cleanstate(x):
    if x == 'WA':
        return 'Washington'
    elif x =='AZ':
        return 'Arizona'
    elif x=='Cali':
        return 'California'
    else:
        return x

df['state'] = list(map(cleanstate, df['state']))
df['state'].value_counts()


##other way around: using dictionaries {}

state
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [6]:
#cleaning education
df['education']=df['education'].str.replace('Bachelors', 'Bachelor')
df['education'].value_counts()

education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [7]:
# cleaning car class
def cleancarclass(x):
    luxury_target=['Luxury SUV','Luxury Car','Sports Car']
    if x in luxury_target:
        return 'Luxury'
    else:
        return x

df['vehicle_class'] = list(map(cleancarclass, df['vehicle_class']))
df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

In [8]:
# removing % in customer value 
df['customer_lifetime_value']=df['customer_lifetime_value'].str.replace('%', '')
# convert to dollars and turn into numeric
df['customer_lifetime_value']=pd.to_numeric(df['customer_lifetime_value'], errors='coerce')/100

In [ ]:
# turn new list to_numeric()
df['number_of_open_complaints']=pd.to_numeric(df['number_of_open_complaints'],errors='coerce')

In [ ]:
# let's see the percentage of null values in a column
#df.isnull()
#round(df.isna().sum()/len(df),4)*100  
#nulls_df = pd.df(round(df.isna().sum()/len(df),4)*100)
#nulls_df.columns = ['header_name', 'percent_nulls']
#nulls_df

# 04 - Processing Data

* Dealing with outliers.
* Normalization.
* Encoding Categorical Data.
* Splitting into train set and test set.

* Apply model.

In [ ]:
#df[df['state'].isnull()==True]
#dropna shows how many nulls there are also
df1['state'].value_counts(dropna=False)

In [ ]:
df1=df.drop_duplicates() #we assume duplicates are those with NaN in all columns
 #previous command drops everything except the first duplicate
df1=df1.drop(1071,axis=0,inplace=True)

In [ ]:
#MISSING VALUES
#CATEGORICAL we fill with the Mode which is Oregon
df1['state']=df1['state'].fillna('Oregon')

#ORDINAL we fill with the mean
mean_income=df1['income'].mean()
mean_income
df1['income']=df1['income'].fillna(mean_income)
df1.isna().sum #check

#lets remove the decimals with round

In [ ]:
## adding index=False (you dont get unamed 0 column when openning it again)

In [ ]:
def cleaning_df(df):
        new_cols=[]
        for i in range(len(df.columns)):
            new_cols.append(df.columns[i].lower().replace(' ','_'))#underscoring
        df.columns=new_cols
        df=df.rename(columns={'st':'state'})
        df=df.drop_duplicates()
        #df=df.drop(1071,axis=0) #full nan row
        df['gender']=df['gender'].fillna('F') #we choose Mode Female
        df['gender']=np.where(df['gender'].isin(['F','female','Femal']),'F','M')
        # removing % in customer value 
        df['customer_lifetime_value']=df['customer_lifetime_value'].str.replace('%', '')
        # convert to dollars and turn into numeric
        df['customer_lifetime_value']=pd.to_numeric(df['customer_lifetime_value'], errors='coerce')/100
        #removing the slash ('/')
        for item in df['number_of_open_complaints']:
            no_slash_list.append(item.split('/')[1]) #(index1) keeps middle number 
        df['number_of_open_complaints']=no_slash_list
        # turn all to_numeric()
        df['number_of_open_complaints']=pd.to_numeric(df['number_of_open_complaints'],errors='coerce')
        df['customer_lifetime_value']=pd.to_numeric(df['customer_lifetime_value'],errors='coerce')
        return df
    
        # let's test it
df_test_dirty=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df_test_clean=cleaning_df(df_test_dirty)

# 05 - Modeling

In [ ]:
#install
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [ ]:
df.info()
#Show a plot of the Gender breakdown.
sns.countplot('gender')
#Show a plot of Income by State.
sns.barplot(x="state",y="income",data=df)
plt.show()

In [ ]:
#Show a plot of the Policy Type by the Total Claim Amount.
sns.barplot(x="policy_type", x="total_claim_amount",data=df
plt.show()
#sns.barplot(x="education", hue="vehicle_class",data=customer_data)
#plt.show()

In [ ]:
#Show a plot of the Education by Vehicle Class. both are categorical. 
#cannot use x and y but x and hue (count of each)

In [ ]:
#hue gives the other one as hue. barplot needs numeric so we do hist
sns.histplot(x="education", hue="vehicle_class",data=df1,multiple='stack')
#multiple = stack : separates the colours by stacking
plt.show()
#looks like people with least

#model
Check the data types of the columns. Get the numeric data into a dataframe called numerical and categorical columns in a dataframe called categorical. (You can use np.number and object to select the numerical data types and categorical data types respectively)
-Now we will try to check the normality of the numerical variables visually
-Use seaborn library to construct distribution plots for the numerical variables
-Use Matplotlib to construct histograms
-Do the distributions for different numerical variables look like a normal distribution?
-For the numerical variables, check the multicollinearity between the features. Please note that we will use the column total_claim_amount later as the target variable.
-Drop one of the two features that show a high correlation between them (greater than 0.9). 
-Write code for both the correlation matrix and for seaborn heatmap. If there is no pair of features that have a high correlation, then do not drop any features

In [ ]:
##pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

#some skewed to the right

#total claim amount is our target. we dont want to drop it 
#if anything is multicollinear we would drop it; but there isnt
#negative influence of the income

# 06 - Model Validation
1. X-y split.
2. Scaling (numerical)

* R2.
* MSE.
* RMSE.
* MAE.

In [ ]:
#splitting Y (our target) and X (ALL our features)
y = df['total_claim_amount']
X=df.drop(['total_claim_amount'], axis=1) 
#all the rest. iloc could also be used

#'customers' is useless so drop it too

X_num=X.select_dtypes(include = np.number)
X_cat=X.select_dtype(include=object) #that would be :
#'customer', 'state', 'gender', 'education','policy_type', 'vehicle_class'

##SCALING##
# Normalize using minmaxscaler
transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
x_normalized
datanorm = pd.DataFrame(x_normalized, columns=X_num.columns) 

# Plot the distributions again.
for i in range(3):
    sns.distplot(datanorm.iloc[:,i])
    plt.show()

# 07 - Reporting

* Present results.